# Ignore the obj directory
**/obj/

# Ignore the bin directory
**/bin/

# Ignore the secrets file
**/secrets.json

# Ignore the appsettings files
api/appsettings.Development.json
api/appsettings.json
